pipeline {
    environment {
        REPO_URL = "https://github.com/benblasco/fedora-server-bootc"
        REPO_BRANCH = "main"
        IMAGE_NAME = "fedora-bootc-testserver"
        REGISTRY = "micro.lan:5000"
        DATESTAMP = sh(
                        script: """
                        date +Y%m%d
                        """, returnStdout: true
                    )
    }
    agent { label 'fedora-server-bootc' }
    stages {
        stage('Identify build node') {
            steps {
                echo 'Identify build node'
                sh 'hostnamectl'
            }
        }
        stage('Clone Repo') {
            steps {
                echo 'Clone build repo'
                git url: REPOURL, branch: REPO_BRANCH
            }
        }
        stage('Build the image') {
            steps {
                echo 'Build the Fedora Bootc Container'
                sh 'sudo podman build --pull=always -t REGISTRY/IMAGE_NAME:latest -t REGISTRY/IMAGE_NAME:DATESTAMP .'
            }
        }
        stage('Push to the container registry') {
            steps {
                echo 'Push the build to the registry'
                sh 'sudo podman push --tls-verify=false REGISTRY/IMAGE_NAME:latest'
                sh 'sudo podman push --tls-verify=false REGISTRY/IMAGE_NAME:DATESTAMP'
                sh 'timedatectl'
            }
        }
    }
    post {
        always {
            //archiveArtifacts artifacts: 'fedora-server-bootc', fingerprint: true
            //mail to: 'team@example.com',
              //subject: "Librespot build result: ${currentBuild.fullDisplayName}",
              //body: "This is what we did ${env.BUILD_URL}"
        }
    }
}
